[submodule "src/ignorer/gitignore"]
	path = src/ignorer/gitignore
	url = https://github.com/github/gitignore
[submodule "houkago-tea-tap"]
	path = houkago-tea-tap
	url = https://github.com/celsiusnarhwal/homebrew-htt
